@font-face {
  font-family: halFont;
  src: url(../font/teko/Teko-Light.ttf) format("truetype"); }

body {
  font-family: halFont;
  font-size: 12px;
  background-color: black;
  color: whitesmoke; }

nav {
  font-size: 4em;
  float: right; }

hr {
  border-top: 1px solid #00b2ff29; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  padding: 0 1em; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

ul li {
  text-decoration: underline;
  cursor: pointer;
  font-size: 2em; }

li {
  margin-bottom: 1em;
  margin-left: 2em;
  font-size: 1.5em; }

button {
  font-size: 1.5em;
  letter-spacing: .25em;
  border-radius: 5px;
  font-family: MONOSPACE;
  font-weight: bolder;
  color: steelblue; }

#content {
  padding-top: 5em;
  display: flex;
  flex-direction: row; }

.poem-titles {
  width: 25%; }

.poemText {
  height: 250px;
  overflow-y: scroll; }
  .poemText div {
    padding: 0 1.5em; }

#poem-action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%; }

.poems {
  display: none; }

.poems h2 {
  margin-top: 2em; }

.controls {
  display: none;
  width: 60%;
  justify-content: space-between;
  padding: 1em 0;
  color: whitesmoke; }
  .controls-active {
    display: flex !important;
    flex-direction: column; }

#stopRecord {
  visibility: hidden; }

.playArea {
  padding: 0 0 2em 0;
  width: 50%;
  text-align: justify;
  margin: 0 2em;
  font-size: 2.5em;
  line-height: 1.8em;
  letter-spacing: .025em; }

#waveform {
  width: 60%;
  display: block;
  background-color: black;
  height: 130px; }

.borderism {
  border-style: solid;
  border-width: thin;
  border-color: #27729699; }

@media (max-width: 890px) {
  li {
    margin-left: 0; }
  .playArea,
  nav {
    text-align: center; }
  .playArea,
  .controls {
    width: 80%; } }
