$base-font: 10px; 
$base-bgColor: black;
$base-fontColor: whitesmoke; 


	@font-face {
   font-family: halFont;
  src: url(../font/teko/Teko-Light.ttf) format('truetype'); 
 }

		body {
			font-family: halFont;
			font-size: $base-font;
			background-color: $base-bgColor;
			color: $base-fontColor;
		}

		nav {
			font-size: 4em;
    		float: right;
		}

		main {
			display: flex;
			flex-direction: column;
		}

		a {
			color: inherit;
		}

		hr {
			border-top: 1px solid #00b2ff29;
		}

		h1 { 
			font-size: 2em;
		}
	
		h2{
			font-size: 1.5em;
			padding: 0;
			margin: .5em 0 0.2em;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		ul li{
			text-decoration: underline;
			cursor: pointer;
			font-size: 3em;
			text-align: center;
		}

		li {
			margin-bottom: 1em;
			margin-left: 2em;
			font-size: 1.5em;
		}

		button {
			font-size: .85em;
		    letter-spacing: .25em;
		    border-radius: 10px;
		    font-family: MONOSPACE;
		    font-weight: bolder;
		    color: #ed0a7e;
		    width: 75%;
		    margin-top: 1em;
		    visibility: hidden;
		}

		video {
			width: 100%;
		}

		.logo {
			display: flex;
    		flex-direction: row-reverse;
    		z-index: -2;

			img {
				 max-width: 15%;
			}
		}

		#content {
			padding-top: 1em;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#poem {

			&-area {
				display: flex;
				flex-direction: column;
			}


			&ReadStop { 
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 100%;
				padding-top: 1.5em;
			}

			&-action {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 75%;

				h1 {
					    padding: 0;
					    margin: 0;
					    text-align: center;
					    letter-spacing: .125em;
					    text-transform: capitalize;
					    font-size: 4em;
					    word-spacing: .25em;
					    opacity: 0;
				}
			}

			&Now {
				display: flex !important;
				flex-direction: row;
				justify-content: space-between;
			}

			&Visual {
				display: flex;
				flex-direction: column;
				width: 30%;
				padding-top: 4em;
			}

		}

		.poem {

			&s {

				display: none;

				h2 {
					margin-top: 2em;
				}

			}

			&FullContent {
				    height: 320px;
				    overflow-y: scroll;
				    font-size: 1.5em;
				    margin-top: 1.23em;
				    padding-right: 1em;
				    line-height: 1.85em;
			}

			&FullTitle{
				font-size: 2.3em;
				padding-top: .5em;
				color: #c3c746;
			}

			&DbCount {
				display: flex;
			    flex-direction: column;
			    justify-content: center;
			    align-items: center;
			    font-size: 7em;
			    position: relative;
			    color: #f3ecee;
			}
			
		}

		#gimmeDecibels {
			position: absolute;
    		top: 110px;
		}

		
		.controls {
			opacity: 0;
			width: 100%;
			justify-content: space-between;
			padding: 1em 0;
			color: whitesmoke;
			display: flex !important;
			flex-direction: column-reverse;
			justify-content: space-between;
		}

		#stopRecord {
			visibility: hidden;
		}

		.playArea {
			padding: 0 0 2em 0;
		 text-align: justify;
		 margin: 0 2em;
		 font-size: 2.5em;
		 line-height: 1.8em;
		 letter-spacing: .025em;
		 opacity: 0;
		 	flex-direction: column;
		 	justify-content: space-between;
		 	width: 70%;
		}

		#waveform {
			width: 100%;
			display: block;
			background-color: black;
			height: 130px;
		}

		.borderism {
			border-style: solid;
   			border-width: thin;
   			border-color: #27729699;
		}

#btn-save-recording {
	visibility : hidden;
}

	@media (max-width: 1023px) {

		.playArea {
			padding: 0;
		}

		#poem {

			&Now {
				flex-direction: column;
			}

			&Visual {
				margin: 0;
				padding: 0;
				width: 70%;
			}

			&-action h1 {
				font-size: 2.5em !important;
			}
		}	
		
		.controls {
			flex-direction: column;
		}

		ul li {
			font-size: 2em;
		}

		.logo {

			img {
				width: 5%;
			}
		}
	}


	@media (max-width: 500px) {

		#poem {

			&-action h1 {
				font-size: 1.5em !important;
			}
		}	
		
		ul li {
			font-size: 1em;
		}

	}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}


/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: black;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: teal;
	border: 1px solid #555555;
	border-radius: 8px;
}


.Blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

#record {

	&Area {
		position: relative;
		z-index: 0;
		top: 35px;
		left: 30px;
	}

	&Icon {
		position: relative;
		z-index: 1;
	    width: 10px;
	    height: 10px;
	    position: relative;
	    visibility: hidden;
	}

	&Section {
		position: absolute;
	}
}

.fa {
	color: red; 
	width: 10px;
	font-size: 2.5em !important;
}

/** Dial and meter */
